__pycache__/

# manual pages

site/pages/man/*.1.html
site/pages/man/*.2.html
site/pages/man/*.3.html
site/pages/man/*.4.html
site/pages/man/*.5.html
site/pages/man/*.6.html
site/pages/man/*.7.html
site/pages/man/*.8.html
site/pages/man/*.9.html
